node_modules/
temp/
app/templates/bower_components/
app/templates/node_modules/
app/templates/.sass-cache/
app/templates/_dev/.sass-cache/
app/templates/_dev/.tmp/
app/templates/_dev/.DS_Store
app/templates/.DS_Store
app/.DS_Store
.DS_Store
.sass-cache