@import "compass/reset";
@import "compass/css3";

@import "fonts";
@import "mixins";
@import "ceaser-easing/ceaser";

$col: black;
$bg-color: #0095a9;

@import "modal";

*:not(input) {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

html.touch body {
  // overflow: hidden;
}

body {
  background: $bg-color;
  font-family: $main_font;
  @include font-size(1.8);
  color: $col;
  @include user-select(none);
}

a {
  color: $bg-color;
  text-decoration: none;
  // font-weight: 300
  &:hover {
    color: darken($bg-color, 10);
  }
}

.hero-unit {
  margin: 50px auto 50px auto;
  width: 400px;
  font-weight: 300;
  line-height: 30px;
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 60px;
  @include box-sizing(border-box);
  transition: all 0.5s ceaser($fastBack);
  div.logo {
    width: 150px;
    height: 150px;
    @include animation("ulla 0.25s ease-out 0.0s infinite alternate");
    position: relative;
    @include center-block;
    background: url("/images/logo.png") no-repeat;
    @include image-2x("/images/logo2x.png", 150px, 150px);
    //@include abs-pos(10px, 10px, 5px, 15px);
 
  }
  ul {
    li {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
  ul.l_row {
    @include clearfix;
    li {
      list-style-type: none;
      margin-left: 5px;
      display: inline-block;
      float: left;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {}
    }
  }
  .col {
    @include column-count(2);
    // +column-rule(1px, solid, lighten(black, 80))
    @include font-size(1.2);
  }
  h1 {
    @include font-size(5);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    transition: all 0.5s ceaser($fastBack);
    //0.120, 1.650, 0.000, 1.000
    position: relative;
    &:hover {
      color: darken($bg-color, 10);
    }
    span {
      @include font-size(1.2);
      display: inline-block;
      color: white;
      letter-spacing: 0;
      @include border-radius(3px);
      padding-right: 2px;
      padding-left: 2px;
      background-color: #d43848;
    }
  }
  @include respond($phone) {
    width: 100%;
    border-radius: 0px;
    margin: 0 auto 0 auto;
  }
}

@include keyframes(ulla) {
  0% {
    top: 0px;
  }
  100% {
    top: -10px;
  }
}


.hidden {
  visibility: hidden;
  @include opacity(0);
}

.remove {
  display: none;
}

#warning {
  .content {
    top: 50%;
    height: 170px;
    margin-top: -(170px / 2);
    min-height: 0%;
    max-height: 100%;
    width: 360px;
  }
}